.Transaction {
  overflow: hidden;
  padding: 16px;
  border-bottom: 1px solid #DFDEE1;
}

.Transaction:last-child {
  border-bottom: none;
}

.Transaction__logo {
  display: block;
  float: left;
  border: 1px solid #DFDEE1;
  border-radius: 10px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin-right: 16px;
}

.Transaction__logo img {
  max-width: 100%;
}

.Transaction__name {
  font-size: 1.25em;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 65%;
  display: block;
  float: left;
}

.Transaction__amount {
  display: block;
  float: right;
  font-size: 1.25em;
  line-height: 28px;
}
